/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    direction: rtl;
    font-family: 'OpenSansHebrew';
}

section{
    margin: 40px auto;
} 

strong{
    background: linear-gradient(180deg, #ffffff 65%, rgba(249, 222, 0, 1) 35%);
}

figcaption{
    font-size: 0.8em;
    margin-top: 10px;
}

a{
    color: inherit;
    transition: all 0.5s ease;
    font-weight: 600;
}

a:hover{
    background: linear-gradient(180deg, #ffffff 60%, rgba(249, 222, 0, 1) 40%);
    text-decoration: none;
    color: inherit;
}

.fsFC h2{
    font-family: 'OpenSansHebrew';
    font-weight: 900;
}

.textBackground{
    text-align: center;
}

.whoAmI, .fourIcons{
    text-align: center;
}

.positionRelative{
    position: relative;
}

.fullNameOriginal, .fullNameSmall{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 70px;
    background-color: #f9de00;
}

.fullNameHOne{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-weight: 900;
    line-height: 2em;
    font-size: 2.3em;
}

.hOneStyle{
    font-weight: 200;
}

.headline hr{
    height:5px;
    background-color: #f9de00;;
    width:100px;
}

.headline h2{
    font-weight: 900;
    font-size: 2.3em;
    text-align: center;
}

.date{
    font-size: 1.7em;
    font-weight: 900;
    padding: 15px 20px 15px 0;
    border-right: solid 30px #f9de00;
    
}

.title{
    background-color: #f9de00;
    padding:15px 20px;
}

.title h2{
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 0px;
}

.title h3{
    font-size: 0.7em;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 0;
}

.expP{
    font-size: 0.85em;
}

.mainIcons{
    text-align: center;
    font-weight: 600;
}

.disclaimer{
    font-size: 0.7em;   
}

.grow span{
    font-size: 0.8em;
    background-color: #f9de00;
    padding:5px 10px 5px 30px;
}

footer .row{
    margin-bottom: 30px;
    text-align: center;
    color: #959494;
}

footer .col-12{
    font-weight: 600; 
}



            @media (max-width: 991px){
                .firstSection{
                    margin: auto;
                }
                .marginBothMobile{
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                .marginTopMobile{
                    margin-top: 15px;
                }
                .marginBottomMobile{
                    margin-bottom: 15px;
                }
                .fullNameOriginal{
                    display: none;
                }
                .fullNameSmall{
                    padding:10px 30px;
                    bottom: 50px;
                }
                .fullNameHOne{
                    font-size: 2em;
                }
                .expP{
                    font-size: 1em;
                }
            }

            @media (min-width: 992px){ 
                .fullNameSmall{
                    display: none;
                }
                .marginTopDesktop{
                    margin-top: 20px;
                }
                .portfolio .marginTopDesktop{
                    margin-top: 30px;
                }
                .marginPortfolio{
                    margin: 20px 0px; 
                }
            }

            @media (max-width: 767px){
                .fullNameSmall{
                    padding:10px 30px;
                    max-width: 320px;
                    width:97%;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    text-align: center;
                }
                .fullNameHOne{
                    font-size: 1em;
                }
                .displayNone700{
                    display: none;
                }
                .headline h2{
                    text-align: right;
                    font-size: 
                }
                .date{
                    font-size: 1.1em;
                }
            }

            @media (min-width:768px){ 
                .grow { transition: all .2s ease-in-out; }
                .grow:hover { transform: scale(1.05); }
            }

            @media (max-width: 576px){
                .displayNone500{
                    display: none;
                }
                .date{
                    font-size: 1.7em;
                }
            }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
